#card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 120px;
    width: 90%;
    margin-top: 10px;
}

#card-container span {
    font-size: large;
    font-style: italic;
}

#card-container #labels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}
#card-container h2 {
    /*white-space: nowrap;*/
    text-overflow: fade;
    text-align: center;
}

#card-container Button {
    margin-top: auto;
    background: royalblue;
}

#game-link {
    text-decoration: none;
    color: #f5f6fa;
    font-family: 'fantasy';
    font-size: large;
}
