.main-input{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    background: #F4EEE8;
    border-radius: 20px;
    margin-top: 20px;
}

h2 {
    margin: 10px;
    font-size: 22px;
    color: rgb(1, 1, 59);
}

.search {
    width: 80%;
}

.search .tip{
    text-align: center;
    margin-bottom: 10px;
}

ul li {
    list-style: none;
}

ul{
    width: 100%;
    height: auto;
    margin:0;
    padding:0;
}

.choice {
    /*background: #6c757d;*/
    height: auto;
    /*margin-top: 5px;*/
    border-radius: 5px;
    padding: 5px;
    color: #080808;
    font-size: large;
}

.result {
    background: #41515b;
    height: auto;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    color: #f5f6fa;
    font-size: large;
}

.result-container {
    border-radius: 5px;
    border-color: #f5f6fa;
    border-width: 5px;
}

ul li div:hover {
    background: darkgray;
    border-radius: 5px;
}
#below-search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.searchBar {
    width: 80%;
}

h3 {
    margin-top: 15px;
}

